<app-floating-configurator />
<div
    class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <div
            style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
                <div class="text-center mb-8">
                    <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Reset Password
                    </div>
                    <span class="text-muted-color font-medium">Enter your email to reset your password</span>
                </div>

                <div>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

                        <div class="mb-4">
                            <input pInputText type="number" formControlName="otp" id="otp" placeholder="Enter otp"
                                class="w-full md:w-[25rem] mb-2" required />
                        </div>

                        <div class="mb-6">
                            <p-password type="password" formControlName="newPassword" id="newPassword" placeholder="New password"
                                [toggleMask]="true" styleClass="mb-2" [fluid]="true" [feedback]="false"
                                required minlength="6"></p-password>

                            <div>
                                <span *ngIf="hasError('newPassword', 'required')" class="text-primary">new password is
                                    required</span>
                                <span *ngIf="hasError('newPassword', 'minlength')" class="text-primary">the new password must
                                    be at least 6 characters long</span>
                            </div>
                        </div>

                        <p-button type="submit" styleClass="w-full">Send</p-button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
