<div class="sidebar" *ngIf="isSidebarVisible()"
    [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }"
    [attr.aria-hidden]="!isSidebarVisible()">
    <ul>

        <div class="" style="text-align: center;" *ngIf="isAuthenticate">
            <p class="text-white">Welcome</p>
            <img [src]="userImage" alt="User avatar" class="user-image" />
        </div>

        <li *appUserHasRole="'ADMIN'">
            <a routerLink="/admin/dashboard">
                <i class="fas fa-tachometer-alt"></i> Dashboard</a>
        </li>

        <li *ngIf="isAuthenticate">
            <a routerLink="/pages/home">
                <i class="fas fa-home"></i> Home</a>
        </li>

        <li *appUserHasRole="'ADMIN'">
            <a routerLink="/admin/role">
                <i class="fas fa-user-shield"></i> Roles</a>
        </li>

        <li *appUserHasRole="'ADMIN'">
            <a routerLink="/admin/user-list">
                <i class="fas fa-users"></i> Users</a>
        </li>

        <li *ngIf="isAuthenticate">
            <a routerLink="" (click)="logout()">Logout</a>
        </li>

    </ul>
</div>