<div class="container d-flex align-items-center justify-content-center" style="height: 60vh; margin-top: 10vh">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
        <p-card header="Forgot Password" class="text-center" [style]="{ width: '360px' }">
            <div class="form-group">
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email"
                    required />
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-4">Generate OTP</button>

            <div class="mt-3 text-center">
                Return to login?
                <a (click)="redirectLogin()" style="text-decoration: underline; color: blue; cursor: pointer">Login</a>
            </div>
        </p-card>
    </form>
</div>