<app-floating-configurator />
<div
    class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <div
            style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
                <div class="text-center mb-8">
                    <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Forgot Password
                    </div>
                    <span class="text-muted-color font-medium">Enter your email to reset your password</span>
                </div>

                <div>
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">

                        <div class="mb-6">
                            <input pInputText type="email" formControlName="email" id="email" placeholder="Email"
                                class="w-full md:w-[30rem] mb-2" required />
                            <div>
                                <span *ngIf="hasError('email', 'required')" class="text-primary">email is
                                    required</span>
                                <span *ngIf="hasError('email', 'email')" class="text-primary">you must enter a valid
                                    email</span>
                            </div>
                        </div>

                        <p-button type="submit" styleClass="w-full">Generate OTP</p-button>

                        <div class="mt-3 text-center">Return to login?
                            <span routerLink="/auth/login"
                                class="font-medium no-underline ml-2 cursor-pointer text-primary">
                                Login
                            </span>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>