<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(238, 2, 112)">
    <div class="container-fluid ">
        <a class="navbar-brand">
            <img src="/img/logo.jpg" class="me-2" style="width: 50px; height: 50px; border-radius: 50%" alt="Logo" />
        </a>
        <form class="d-flex ">

            <button class="navbar-toggler" type="button" (click)="toggleCollapsed()">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" [ngClass]="{ collapse: collapsed }">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" *ngIf="!isAuthenticated">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item" *ngIf="!isAuthenticated">
                        <a class="nav-link" routerLink="/register">Register</a>
                    </li>
                    <li class="nav-item" *ngIf="isAdmin">
                        <a class="nav-link" routerLink="/role">Roles</a>
                    </li>
                    <li class="nav-item" *ngIf="isAdmin">
                        <a class="nav-link" routerLink="/adminHome">User</a>
                    </li>

                    <li class="nav-item" *ngIf="isAuthenticated">
                        <a class="nav-link" routerLink="" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</nav>