<div class="test-container">

    <div class="my-3">
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#agregarModalUsuario">
            <i class="pi pi-plus"></i> Add User
        </button>
    </div>

    <div class="table-responsive-sm">
        <table class="table table-striped">
            <thead>
                <tr class="table-info">
                    <th>ID</th>
                    <th>Image</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th class="text-center">lock / unlock</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" key="user.id">
                    <td>{{ user.id }}</td>
                    <td>
                        <img [src]="user.imageProfile || 'assets/default-avatar.png'" alt="User avatar"
                            class="align-items-lg-center"
                            style="max-width: 100px; max-height: 100px; border-radius: 50%;" />
                    </td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <span *ngFor="let role of user.roles; let isLast = last">
                            {{ role.roleName }}<span *ngIf="!isLast">, </span>
                        </span>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-success btn-sm me-2" *ngIf="!user.accountLocked" (click)="blockUser(user.id)">
                            <i class="fa fa-lock"></i>
                        </a>
                        <a class="btn btn-warning btn-sm" *ngIf="user.accountLocked" (click)="unblockUser(user.id)">
                            <i class="fa fa-unlock"></i>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm me-1" (click)="toggleModoEdicion(user)">✏️Edit</button>
                        <button class="btn btn-secondary btn-sm me-1" (click)="deleteUser(user.id)">❌Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pup-up" [ngClass]="{ 'oculto': modoOculto }">
        <div class="pop-up-container">
            <span onkeyup (click)="editarModoOculto()">❌</span>
            <app-user-edit class="editar" [usuariosEditar]="usuariosEditar"
                (modoOculto)="editarModoOculto()"></app-user-edit>
        </div>
    </div>


    <div class="modal fade" id="agregarModalUsuario" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog draggable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-info text-center">
                    <h4 class="modal-title w-100 text-white" id="exampleModalLabel">Add User</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form [formGroup]="userDetail">
                        <input type="hidden" formControlName="id" class="form-control" id="id">

                        <div class="d-flex flex-column align-items-center">
                            <img *ngIf="previewUrl" [src]="previewUrl" alt="Vista previa" class="rounded-circle"
                                width="100px" height="100px" />
                        </div>

                        <div class="mb-3">
                            <input type="text" formControlName="username" class="form-control" id="username"
                                placeholder="Username" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="email" class="form-control" id="email"
                                placeholder="Email" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="password" class="form-control" id="password"
                                placeholder="Password" required>
                        </div>
                        <div class="mb-3">
                            <select formControlName="locked" class="form-select" id="locked">
                                <option value="true">Lock</option>
                                <option value="false">Unlock</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <select formControlName="roles2" class="form-select" id="roles2" required>
                                <option value="">Select a role</option>
                                <option *ngFor="let role of roles" [value]="role.roleName">{{ role.roleName }}</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <input type="file" formControlName="imageUrl" class="form-control" id="imageUrl"
                                accept="image/*" (change)="uploadFile($event)">
                        </div>
                        <br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal"> <i
                                    class="fa fa-cancel"></i>Cancelar</button>
                            <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal"
                                (click)="createUser()"><i class="fa fa-save"></i>Agregar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>